node_modules
/ColladaLoader2.js
/ColladaLoader2-min.js
/ColladaLoader2-redux.js

/closure/compiler.jar
/closure/ColladaLoader2.js
/closure/ColladaLoader2-closure.js
/ColladaLoader2.map

/ColladaLoader2.closure.js
/ColladaLoader2.min.js
