table {
    border: 1px solid gray;
}

td {
    border: 1px solid gray;
}

.col_header {
    font-weight: bold;
}

.model_view {
    width: 506px;
    height: 400px;
    background-color: #000000;
}

.kps {
    width: 502px;
}

.size {
    width: 502px;
}